$color-white: hsl(0, 0%, 100%);
$color-gray: hsl(0, 0%, 94%);
$color-light-grey: hsl(0, 0%, 86%);
$color-smokey-grey: hsl(0, 1%, 44%);
$color-purple: hsl(259, 100%, 65%);
$color-light-red: hsl(0, 100%, 67%);
$font-poppins: "Poppins", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-gray;
  font-family: $font-poppins;
  font-weight: 100;
  font-style: normal;
}

.wrapper {
  border-radius: 20px;
  border-bottom-right-radius: 7rem;
  margin: 7rem 1rem;
  padding: 2rem;
  background-color: $color-white;

  @media screen and (min-width: 600px) {
    border-bottom-right-radius: 15rem;
    max-width: 600px;
    width: 100%;
    margin: 6rem auto;
  }

  .header {
    width: 100%;

    .fieldwrapper {
      display: flex;
      gap: 1rem;
      font-size: 10px;
    }

    .day-form {
      display: flex;
      flex-direction: column;
      color: $color-smokey-grey;
      gap: 0.3rem;
      font-weight: 700;

      label {
        letter-spacing: 3px;
        font-size: 13px;

        &.labelError {
          color: $color-light-red;
        }
      }

      input {
        border: 1px solid $color-light-grey;
        border-radius: 5px;
        height: 55px;
        max-width: 140px;
        padding: 10px;
        width: 100%;
        font-weight: 600;
        font-size: 25px;
        font-family: $font-poppins;

        &.error {
          border-color: $color-light-red;
        }
      }

      span {
        display: none;

        &.visible {
          display: inline-block;
          color: $color-light-red;
          font-weight: 300;
        }
      }
    }

    .submit {
      display: flex;
      align-items: center;
      margin: 25px 0 0;

      .line {
        flex: 1;
        height: 1px;
        background-color: $color-light-grey;

        &:last-child {
          @media screen and (min-width: 600px) {
            display: none;
          }
        }
      }

      button {
        flex: 0 0 80px;
        background-image: url(./assets/images/icon-arrow.svg);
        height: 80px;
        border: none;
        border-radius: 50%;
        background-color: $color-purple;
        background-position: center center;
        background-repeat: no-repeat;

        @media screen and (min-width: 600px) {
          flex: 0 0 80px;
          height: 80px;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      font-style: italic;
      font-size: 3rem;

      h2 {
        margin: 0;
        line-height: 1.2;
        font-size: 3rem;

        @media screen and (min-width: 600px) {
          font-size: 4.7rem;
        }
      }

      .time {
        color: $color-purple;
        padding-right: 0.5rem;
      }
    }
  }
}
